@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');

:root {
    --editor-neutral-color: black;
    --editor-neutral-bgcolor: white;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: var(--editor-neutral-color);
    background: var(--editor-neutral-bgcolor);
    overflow: hidden;

    @media screen and (prefers-reduced-motion: no-preference) {
        transition: color 0.6s, background-color 0.6s;
    }
    /* 
        Dark Theme (Added in Inky 0.10.0)
        # theme: dark
    */

    &.dark {
        --editor-neutral-color: white;
        --editor-neutral-bgcolor: black;
    }
}

/* 
  Enables <iframe> support work on itch.io when using mobile iOS
*/
.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 24px;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 980px) {
        margin-top: 44px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.editor-preview {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 4em;
    background: var(--editor-neutral-bgcolor);

    .hide {
        opacity: 0.0;
    }

    .invisible {
        display: none;
    }

    > * {
        opacity: 1.0;

        @media screen and (prefers-reduced-motion: no-preference) {
            transition: opacity 1.0s;
        }
    }

    h1,
    h2 {
        text-align: center;
        font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 30pt;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 14pt;
        font-style: italic;
        font-family: sans-serif;
        font-weight: lighter;
        color: #BBB;

        .dark & {
            color: #666;
        }
    }

    @media screen and (prefers-reduced-motion: no-preference) {
        transition: background-color 0.6s;
    }

    p {
        font-size: 13pt;
        color: #888;
        line-height: 1.7em;
        font-weight: lighter;
    }

    a {
        font-weight: 700;
        color: #b97c2c;
        font-family: sans-serif;
        text-decoration: none;
        &:hover {
            color: var(--editor-neutral-color);
        }

        @media screen and (prefers-reduced-motion: no-preference) {
            transition: color 0.6s;
            &:hover {
                transition: color 0.1s;
            }
        }

        .dark & {
            color: #cc8f1a;

            @media screen and (prefers-reduced-motion: no-preference) {
                transition: color 0.6s;
            }
        }
    }

    .unclickable {
        font-weight: 700;
        color: #4f3411;
        font-family: sans-serif;
        text-decoration: none;
        cursor: not-allowed;

        .dark & {
            color: #c4af87;
        }
    }

    strong {
        color: var(--editor-neutral-color);
        font-weight: bold;
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    /*
        Class applied to all choices
        (Will always appear inside <p> element by default.)
    */
    .choice {
        text-align: center;
        line-height: 1.7em;
    }

    /* 
        Class applied to first choice
    */
    :not(.choice) + .choice {
        padding-top: 1em;
    }

    /*
        Class applied to choice links
    */
    .choice a, .choice span {
        font-size: 15pt;
    }

    /* 
        Built-in class:
        The End # CLASS: end
    */
    .end {
        text-align: center;
        font-weight: bold;
        color: var(--editor-neutral-color);
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

#controls {
    z-index: 4;
    font-size: 9pt;
    text-align: center;
    padding-bottom: 6px;
    position: fixed;
    right: 14px;
    top: 4px;
    user-select: none;
    background: var(--editor-neutral-bgcolor);

    @media screen and (prefers-reduced-motion: no-preference) {
        transition: color 0.6s, background 0.6s;
    }

    @media screen and (max-width: 980px) {
        z-index: 2;
        padding-top: 24px;
        top: 0;
        left: 0;
        right: 0;
    }

    [disabled] {
        color: #ccc;
        .dark & {
            color: #444;
        }
    }

    > *:not(:last-child):after {
        content: " | ";
    }
}
