body:not(.dark) .editor.choice-editor {
    box-shadow: 6px 2px 16px 0px rgba(136, 165, 191, 0.48) , -6px -2px 16px 0px rgba(255, 255, 255, 0.8);
    &:hover {
        box-shadow: 3px 4px 0px 0px #4e57ef , 6px 2px 16px 0px rgba(136, 165, 191, 0.48) , -6px -2px 16px 0px rgba(255, 255, 255, 0.8);
    }
}

body.dark .editor.choice-editor:hover {
    box-shadow: 5px 6px 0px 0px #4e57ef;
}

#root.editor > * > .choice > a:not(:has(.editor.choice-editor)) {
    margin: 0.25rem;
    &:has(> pre:only-child) {
        display: inline-block;
    }

    &:hover {
        border-radius: 0.15rem;
        margin: 0;
        padding: 0.25rem;

        body:not(.dark) & {
            box-shadow: 3px 4px 0px 0px #4e57ef , 6px 2px 16px 0px rgba(136, 165, 191, 0.48) , -6px -2px 16px 0px rgba(255, 255, 255, 0.8);
        }

        body.dark & {
            box-shadow: 3px 4px 0px 0px #4e57ef;
        }
    }
}

